# Go build artifacts
*.exe
*.out
*.test

# Build folders
bin/
build/
dist/

# Dependency folder (если используешь `go mod vendor`)
vendor/

# Logs
*.log

# Env files
.env
.env.*

# IDE configs (дополнительно к GoLand)
.vscode/
.idea/

# Mac/Windows system files
.DS_Store
Thumbs.db
